## Meals Count Backend Utilities Test
  
This notebook contains Python functionality that is incorporated as the MealsCount backend utility function **ParseXL** (see: [**[1]**](backend_utils.ipynb)). The code fragments below are tested on the CALPADs sample FRPM data in the form of an Excel file.

In [1]:
import sys
import os
import pandas as pd
import numpy as np

In [2]:
CWD = os.getcwd()

DATADIR = "data"
DATAFILE = "calpads_sample_data.xlsx"

# these are used to identify data rows 
# level 1 header
DATA_L1_HDR_KEYS = ['Non-Charter School(s)','Charter School(s)']
# level 2 header
DATA_L2_HDR_KEYS = ['School Code','School Name','Total Enrollment','Free & Reduced Meal Program: 181/182',
                    'Foster','Homeless(1)','Migrant Program: 135','Direct Certification',
                    'Unduplicated Eligible Free/Reduced Meal Counts','EL Funding Eligible (2)',
                    'Total Unduplicated FRPM/EL Eligible (3)']
# keywords for aggregated rows
DATA_SUM1_KEYS = ['TOTAL - Selected Schools']
DATA_SUM2_KEYS = ['TOTAL LEA']

# these are used for recoding header names/col values where applicable
DATA_L1_HDR_DICT = {'Non-Charter School(s)':'non-charter','Charter School(s)':'charter'}
DATA_L2_HDR_DICT = {'School Code':'school_code','School Name':'school_name','Total Enrollment':'total_enrolled',
                    'Free & Reduced Meal Program: 181/182':'frpm','Foster':'foster','Homeless (1)':'homeless',
                    'Migrant Program: 135':'migrant','Direct Certification':'direct_cert',
                    'Unduplicated Eligible Free/Reduced Meal Counts':'frpm_nodup',
                    'EL Funding Eligible (2)':'el', 'Total Unduplicated FRPM/EL Eligible (3)':'frpm_el_nodup'}
DATA_SUM_DICT = {'TOTAL - Selected Schools':'total','TOTAL LEA':'total'}

# these are used for recoding specific col values
INVALID_SCHOOL_CODE = 9999999
ALL_SCHOOL_TYPE = 'lea'

# these are used to identify metadata rows
METADATA_KEYS = ['Academic Year','View','As Of','Gender','School Type','School','User ID',
                 'Created Date','LEA']

# these are used to identify cols corresponding to 
# metadata key-value pairs
METADATA_KEY_COLS = [0,2,4]
METADATA_VAL_COLS = [1,3,5]

In [3]:
xlfile = os.path.join(DATADIR,DATAFILE)

# intentionally not skipping rows here since we need the metadata too
xl = pd.ExcelFile(xlfile)                
tmpdf = xl.parse(xl.sheet_names[0])

In [4]:
# intentionlly set to display the entire data-frame
pd.set_option('display.max_columns', 100)
tmpdf

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.17 - FRPM/English Learner/Foster Youth - Count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Academic Year:,NaN,NaN,NaN,NaN,2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gender:,NaN,NaN,NaN,ALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,User ID:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,View:,NaN,NaN,NaN,NaN,ODS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,School Type:,NaN,NaN,NaN,ALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Created Date:,NaN,NaN,NaN,03-12-2018,NaN,NaN,NaN,NaN
4,NaN,NaN,As Of:,NaN,NaN,NaN,NaN,2018-03-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,School:,NaN,NaN,NaN,ALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LEA:,NaN,NaN,NaN,SomeCity Union High,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Non-Charter School(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Free/Reduced Meal Eligibility Counts Based On:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,School Code,NaN,School Name,NaN,NaN,NaN,NaN,NaN,NaN,Total Enrollment,NaN,NaN,Free & Reduced Meal Program: 181/182,NaN,Foster,NaN,Homeless (1),NaN,NaN,Migrant Program: 135,NaN,NaN,Direct Certification,NaN,NaN,Unduplicated Eligible Free/Reduced Meal Counts,NaN,NaN,NaN,EL Funding Eligible (2),NaN,NaN,Total Unduplicated FRPM/EL Eligible (3),NaN,NaN,NaN,NaN
9,NaN,NaN,1000001,NaN,School NC01,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN,NaN,4,NaN,27,NaN,0,NaN,NaN,0,NaN,NaN,6,NaN,NaN,29,NaN,NaN,NaN,5,NaN,NaN,30,NaN,NaN,NaN,NaN
10,NaN,NaN,1000002,NaN,School NC02,NaN,NaN,NaN,NaN,NaN,NaN,1111,NaN,NaN,503,NaN,2,NaN,7,NaN,NaN,0,NaN,NaN,215,NaN,NaN,527,NaN,NaN,NaN,122,NaN,NaN,556,NaN,NaN,NaN,NaN
11,NaN,NaN,1000003,NaN,School NC03,NaN,NaN,NaN,NaN,NaN,NaN,2332,NaN,NaN,897,NaN,2,NaN,14,NaN,NaN,0,NaN,NaN,440,NaN,NaN,979,NaN,NaN,NaN,169,NaN,NaN,1037,NaN,NaN,NaN,NaN
12,NaN,NaN,1000004,NaN,School NC03,NaN,NaN,NaN,NaN,NaN,NaN,854,NaN,NaN,733,NaN,6,NaN,10,NaN,NaN,1,NaN,NaN,361,NaN,NaN,765,NaN,NaN,NaN,296,NaN,NaN,792,NaN,NaN,NaN,NaN
13,NaN,NaN,1000005,NaN,School NC04,NaN,NaN,NaN,NaN,NaN,NaN,1628,NaN,NaN,1119,NaN,7,NaN,17,NaN,NaN,0,NaN,NaN,640,NaN,NaN,1239,NaN,NaN,NaN,474,NaN,NaN,1333,NaN,NaN,NaN,NaN
14,NaN,NaN,1000006,NaN,School NC05,NaN,NaN,NaN,NaN,NaN,NaN,856,NaN,NaN,666,NaN,4,NaN,21,NaN,NaN,0,NaN,NaN,359,NaN,NaN,703,NaN,NaN,NaN,295,NaN,NaN,746,NaN,NaN,NaN,NaN
15,NaN,NaN,1000007,NaN,School NC06,NaN,NaN,NaN,NaN,NaN,NaN,2377,NaN,NaN,1581,NaN,4,NaN,46,NaN,NaN,1,NaN,NaN,939,NaN,NaN,1726,NaN,NaN,NaN,644,NaN,NaN,1892,NaN,NaN,NaN,NaN
16,NaN,NaN,1000008,NaN,School NC07,NaN,NaN,NaN,NaN,NaN,NaN,77,NaN,NaN,50,NaN,1,NaN,0,NaN,NaN,0,NaN,NaN,16,NaN,NaN,54,NaN,NaN,NaN,19,NaN,NaN,55,NaN,NaN,NaN,NaN
17,NaN,NaN,1000009,NaN,School NC08,NaN,NaN,NaN,NaN,NaN,NaN,3031,NaN,NaN,585,NaN,1,NaN,7,NaN,NaN,0,NaN,NaN,368,NaN,NaN,676,NaN,NaN,NaN,178,NaN,NaN,782,NaN,NaN,NaN,NaN
18,NaN,NaN,1000010,NaN,School NC09,NaN,NaN,NaN,NaN,NaN,NaN,1708,NaN,NaN,395,NaN,1,NaN,4,NaN,NaN,0,NaN,NaN,228,NaN,NaN,431,NaN,NaN,NaN,112,NaN,NaN,478,NaN,NaN,NaN,NaN
19,NaN,NaN,1000011,NaN,School NC10,NaN,NaN,NaN,NaN,NaN,NaN,967,NaN,NaN,772,NaN,1,NaN,6,NaN,NaN,0,NaN,NaN,435,NaN,NaN,811,NaN,NaN,NaN,226,NaN,NaN,836,NaN,NaN,NaN,NaN
20,NaN,NaN,1000012,NaN,School NC11,NaN,NaN,NaN,NaN,NaN,NaN,1016,NaN,NaN,713,NaN,1,NaN,13,NaN,NaN,0,NaN,NaN,352,NaN,NaN,748,NaN,NaN,NaN,185,NaN,NaN,782,NaN,NaN,NaN,NaN
21,NaN,NaN,1000013,NaN,School NC12,NaN,NaN,NaN,NaN,NaN,NaN,2089,NaN,NaN,1103,NaN,5,NaN,14,NaN,NaN,0,NaN,NaN,645,NaN,NaN,1198,NaN,NaN,NaN,292,NaN,NaN,1291,NaN,NaN,NaN,NaN
22,NaN,NaN,1000014,NaN,School NC13,NaN,NaN,NaN,NaN,NaN,NaN,789,NaN,NaN,622,NaN,2,NaN,15,NaN,NaN,1,NaN,NaN,336,NaN,NaN,646,NaN,NaN,NaN,256,NaN,NaN,676,NaN,NaN,NaN,NaN
23,NaN,NaN,1000015,NaN,School NC14,NaN,NaN,NaN,NaN,NaN,NaN,1588,NaN,NaN,888,NaN,4,NaN,25,NaN,NaN,6,NaN,NaN,599,NaN,NaN,1009,NaN,NaN,NaN,358,NaN,NaN,1103,NaN,NaN,NaN,NaN
24,NaN,NaN,1000016,NaN,School NC15,NaN,NaN,NaN,NaN,NaN,NaN,858,NaN,NaN,712,NaN,3,NaN,12,NaN,NaN,0,NaN,NaN,314,NaN,NaN,727,NaN,NaN,NaN,278,NaN,NaN,756,NaN,NaN,NaN,NaN
25,NaN,NaN,1000016,NaN,School NC16,NaN,NaN,NaN,NaN,NaN,NaN,1795,NaN,NaN,1170,NaN,4,NaN,19,NaN,NaN,2,NaN,NaN,640,NaN,NaN,1253,NaN,NaN,NaN,472,NaN,NaN,1367,NaN,NaN,NaN,NaN
26,NaN,NaN,1000017,NaN,School NC17,NaN,NaN,NaN,NaN,NaN,NaN,792,NaN,NaN,709,NaN,1,NaN,32,NaN,NaN,0,NaN,NaN,374,NaN,NaN,734,NaN,NaN,NaN,276,NaN,NaN,754,NaN,NaN,NaN,NaN
27,NaN,NaN,1000018,NaN,School NC18,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,15,NaN,2,NaN,1,NaN,NaN,0,NaN,NaN,9,NaN,NaN,21,NaN,NaN,NaN,19,NaN,NaN,36,NaN,NaN,NaN,NaN
28,NaN,NaN,1000019,NaN,School NC19,NaN,NaN,NaN,NaN,NaN,NaN,2505,NaN,NaN,596,NaN,6,NaN,11,NaN,NaN,0,NaN,NaN,377,NaN,NaN,690,NaN,NaN,NaN,136,NaN,NaN,757,NaN,NaN,NaN,NaN
29,NaN,NaN,1000020,NaN,School NC20,NaN,NaN,NaN,NaN,NaN,NaN,131,NaN,NaN,76,NaN,0,NaN,8,NaN,NaN,0,NaN,NaN,58,NaN,NaN,96,NaN,NaN,NaN,19,NaN,NaN,100,NaN,NaN,NaN,NaN
30,NaN,NaN,1000021,NaN,School NC21,NaN,NaN,NaN,NaN,NaN,NaN,2403,NaN,NaN,684,NaN,0,NaN,20,NaN,NaN,0,NaN,NaN,390,NaN,NaN,770,NaN,NaN,NaN,190,NaN,NaN,857,NaN,NaN,NaN,NaN
31,NaN,NaN,1000022,NaN,School NC22,NaN,NaN,NaN,NaN,NaN,NaN,366,NaN,NaN,169,NaN,4,NaN,15,NaN,NaN,0,NaN,NaN,171,NaN,NaN,243,NaN,NaN,NaN,151,NaN,NaN,286,NaN,NaN,NaN,NaN
32,NaN,NaN,1000023,NaN,School NC23,NaN,NaN,NaN,NaN,NaN,NaN,1712,NaN,NaN,467,NaN,3,NaN,3,NaN,NaN,0,NaN,NaN,209,NaN,NaN,503,NaN,NaN,NaN,137,NaN,NaN,567,NaN,NaN,NaN,NaN
33,NaN,NaN,1000024,NaN,School NC24,NaN,NaN,NaN,NaN,NaN,NaN,2442,NaN,NaN,1799,NaN,3,NaN,63,NaN,NaN,6,NaN,NaN,956,NaN,NaN,1896,NaN,NaN,NaN,1018,NaN,NaN,2093,NaN,NaN,NaN,NaN
34,NaN,NaN,1000025,NaN,School NC25,NaN,NaN,NaN,NaN,NaN,NaN,643,NaN,NaN,564,NaN,0,NaN,20,NaN,NaN,0,NaN,NaN,281,NaN,NaN,577,NaN,NaN,NaN,304,NaN,NaN,602,NaN,NaN,NaN,NaN
35,NaN,NaN,1000026,NaN,School NC26,NaN,NaN,NaN,NaN,NaN,NaN,1812,NaN,NaN,1268,NaN,3,NaN,53,NaN,NaN,1,NaN,NaN,685,NaN,NaN,1375,NaN,NaN,NaN,654,NaN,NaN,1527,NaN,NaN,NaN,NaN
36,NaN,NaN,1000027,NaN,School NC27,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,10,NaN,1,NaN,0,NaN,NaN,0,NaN,NaN,12,NaN,NaN,14,NaN,NaN,NaN,7,NaN,NaN,17,NaN,NaN,NaN,NaN
37,NaN,NaN,1000028,NaN,School NC28,NaN,NaN,NaN,NaN,NaN,NaN,2649,NaN,NaN,2020,NaN,8,NaN,46,NaN,NaN,1,NaN,NaN,1166,NaN,NaN,2155,NaN,NaN,NaN,636,NaN,NaN,2264,NaN,NaN,NaN,NaN
38,NaN,NaN,1000029,NaN,School NC29,NaN,NaN,NaN,NaN,NaN,NaN,507,NaN,NaN,157,NaN,5,NaN,13,NaN,NaN,0,NaN,NaN,240,NaN,NaN,302,NaN,NaN,NaN,113,NaN,NaN,342,NaN,NaN,NaN,NaN
39,NaN,NaN,TOTAL - Selected Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39193,NaN,NaN,21047,NaN,111,NaN,515,NaN,NaN,19,NaN,NaN,11821,NaN,NaN,22897,NaN,NaN,NaN,8041,NaN,NaN,24714,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,Charter School(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Free/Reduced Meal Eligibility Counts Based On:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,School Code,NaN,School Name,NaN,NaN,NaN,NaN,NaN,NaN,Total Enrollment,NaN,NaN,Free & Reduced Meal Program: 181/182,NaN,Foster,NaN,Homeless (1),NaN,NaN,Migrant Program: 135,NaN,Direct Certification,NaN,NaN,Unduplicated Eligible Free/Reduced Meal Counts,NaN,NaN,NaN,NaN,EL Funding Eligible (2),NaN,NaN,Total Unduplicated FRPM/EL Eligible (3),NaN,NaN,NaN,NaN
44,NaN,NaN,2000001,NaN,School C01,NaN,NaN,NaN,NaN,NaN,NaN,460,NaN,NaN,321,NaN,0,NaN,0,NaN,NaN,0,NaN,182,NaN,NaN,332,NaN,NaN,NaN,NaN,192,NaN,NaN,364,NaN,NaN,NaN,NaN
45,NaN,NaN,2000002,NaN,School C02,NaN,NaN,NaN,NaN,NaN,NaN,420,NaN,NaN,313,NaN,0,NaN,2,NaN,NaN,0,NaN,191,NaN,NaN,323,NaN,NaN,NaN,NaN,253,NaN,NaN,363,NaN,NaN,NaN,NaN
46,NaN,NaN,2000003,NaN,School C03,NaN,NaN,NaN,NaN,NaN,NaN,246,NaN,NaN,119,NaN,0,NaN,11,NaN,NaN,0,NaN,85,NaN,NaN,152,NaN,NaN,NaN,NaN,187,NaN,NaN,222,NaN,NaN,NaN,NaN
47,NaN,NaN,TOTAL - Selected Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1126,NaN,NaN,753,NaN,0,NaN,13,NaN,NaN,0,NaN,458,NaN,NaN,807,NaN,NaN,NaN,NaN,632,NaN,NaN,949,NaN,NaN,NaN,NaN
48,NaN,NaN,TOTAL LEA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40319,NaN,NaN,21800,NaN,111,NaN,528,NaN,NaN,19,NaN,12279,NaN,NaN,23704,NaN,NaN,NaN,NaN,8673,NaN,NaN,25663,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,This report includes students with Primary and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,Grade:,NaN,NaN,NaN,"01-First Grade,02-Second Grade,03-Third Grade,...",NaN,NaN,NaN,NaN,NaN,NaN,Ethnicity/Race:,NaN,NaN,NaN,ALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 - 17 Year Olds:,NaN,NaN,NaN,LCFF,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# UNUSED
# count nulls in each row. high-value rows will contain meta-data and 
# column headers
#tmpdf_null_cnt = tmpdf.isnull().astype(int).sum(axis=1)
#tmpdf_null_cnt

In [6]:
# get the indices for the rows where the L1 headers are present
data_l1 = tmpdf.index[tmpdf[tmpdf.isin(DATA_L1_HDR_KEYS)].notnull().any(axis=1)].tolist()
data_l1

[6, 41]

In [7]:
# get indices for rows where the L2 headers are present
# these will indicate the beginning of data 
data_l2_begin = tmpdf.index[tmpdf[tmpdf.isin(DATA_L2_HDR_KEYS)].notnull().any(axis=1)].tolist()
data_l2_begin

[8, 43]

In [8]:
# get indices for the rows where the misc headers are present
# these will indicate the end of data
data_l2_end = tmpdf.index[tmpdf[tmpdf.isin(DATA_SUM1_KEYS)].notnull().any(axis=1)].tolist()
data_l2_end

[39, 47]

In [9]:
# get indices for any other keys that are part of data
data_other = tmpdf.index[tmpdf[tmpdf.isin(DATA_SUM2_KEYS)].notnull().any(axis=1)].tolist()
data_other

[48]

In [10]:
# generate indices of non-data rows 
metadata_idx = list(range(0,data_l1[0]))
n = len(DATA_L1_HDR_KEYS)

# TODO: malformed files may have any of the keys missing resulting in 
# empty lists of indices

for i in range(0,n):    
    metadata_idx += list(range(data_l1[i]+1,data_l2_begin[i]))
    if i < n-1:
        metadata_idx += list(range(data_l2_end[i]+1,data_l1[i+1]))

metadata_idx += list(range(data_l2_end[n-1]+1,data_other[0]))
metadata_idx += list(range(data_other[-1]+1,tmpdf.shape[0]))
metadata_idx

[0, 1, 2, 3, 4, 5, 7, 40, 42, 49, 50, 51, 52, 53]

In [11]:
# copy metadata rows to its own dataframe
tmpdf_md = tmpdf.loc[metadata_idx,:]
# clean-up
tmpdf_md.dropna(axis=1,how='all',inplace=True)
tmpdf_md.dropna(axis=0,how='all',inplace=True)

# purge metadata rows (copied above) from the data df
tmpdf.drop(metadata_idx,inplace=True)
# clean-up
tmpdf.dropna(axis=1,how='all',inplace=True)
tmpdf.dropna(axis=0,how='all',inplace=True)

In [12]:
# collect l1 header names
df_l1 = tmpdf.loc[data_l1]
df_l1 = df_l1.loc[:,df_l1.notnull().any()]
l1_hdrs = df_l1.T.unstack().tolist()
l1_hdrs = [s for s in l1_hdrs if str(s) != 'nan']
# drop all l1 headers
# we will be using a single-level index for the final df
# l1 headers will be used to populate a categorical var instead
tmpdf.drop(data_l1,inplace=True)

In [13]:
#
# Function to extract and return a dataframe from the input
# dataframe and the row and col indices specified. Additionally
# a column for school type is added with the specified value as
# well as a column (called 'index') with the original row indices.
#
def extract_df(df,row_idx,col_idx,school_type):
    
    data = df.loc[row_idx,:].values
    cols = df.loc[col_idx].values
    ext_df = pd.DataFrame(data=data,columns=cols)        
    
    ext_df['school_type'] = school_type 
    ext_df['index'] = row_idx
    
    ext_df.dropna(axis=1,how='all',inplace=True)
    ext_df.dropna(axis=0,how='all',inplace=True)
    
    return ext_df

# create a new ddtaframe for each school type
df_list = []
for i in range(0,n):
    
    row_idx = list(range(data_l2_begin[i]+1,data_l2_end[i]+1))   
    col_idx = data_l2_begin[i]
    school_type = l1_hdrs[i]    
    
    df_list.append(extract_df(tmpdf,row_idx,col_idx,school_type))
    
    if (i==n-1):
        row_idx = data_other
        df_list.append(extract_df(tmpdf,row_idx,col_idx,np.nan))
        
df_full = pd.concat(df_list,axis=0,ignore_index=True)

In [14]:
# recode column names
df_full.rename(columns=DATA_L2_HDR_DICT,inplace=True)

In [15]:
# recode school_type
df_full['school_type'] = df_full['school_type'].map(DATA_L1_HDR_DICT)

In [16]:
# recode other fields
cond = df_full['index'].isin(data_l2_end + data_other)
df_full.loc[cond,'school_name'] = df_full[cond]['school_code'].map(DATA_SUM_DICT)
df_full.loc[cond,'school_code'] = INVALID_SCHOOL_CODE
cond = df_full['index'].isin(data_other)
df_full.loc[cond,'school_type'] = ALL_SCHOOL_TYPE

In [17]:
df_full.drop(['index'],axis=1,inplace=True)

In [18]:
# re-arrange cols to original order
df_full = df_full[list(DATA_L2_HDR_DICT.values()) + ['school_type']]

In [19]:
df_full

,school_code,school_name,total_enrolled,frpm,foster,homeless,migrant,direct_cert,frpm_nodup,el,frpm_el_nodup,school_type
0,1000001,School NC01,37,4,27,0,0,6,29,5,30,non-charter
1,1000002,School NC02,1111,503,2,7,0,215,527,122,556,non-charter
2,1000003,School NC03,2332,897,2,14,0,440,979,169,1037,non-charter
3,1000004,School NC03,854,733,6,10,1,361,765,296,792,non-charter
4,1000005,School NC04,1628,1119,7,17,0,640,1239,474,1333,non-charter
5,1000006,School NC05,856,666,4,21,0,359,703,295,746,non-charter
6,1000007,School NC06,2377,1581,4,46,1,939,1726,644,1892,non-charter
7,1000008,School NC07,77,50,1,0,0,16,54,19,55,non-charter
8,1000009,School NC08,3031,585,1,7,0,368,676,178,782,non-charter
9,1000010,School NC09,1708,395,1,4,0,228,431,112,478,non-charter
10,1000011,School NC10,967,772,1,6,0,435,811,226,836,non-charter
11,1000012,School NC11,1016,713,1,13,0,352,748,185,782,non-charter
12,1000013,School NC12,2089,1103,5,14,0,645,1198,292,1291,non-charter
13,1000014,School NC13,789,622,2,15,1,336,646,256,676,non-charter
14,1000015,School NC14,1588,888,4,25,6,599,1009,358,1103,non-charter
15,1000016,School NC15,858,712,3,12,0,314,727,278,756,non-charter
16,1000016,School NC16,1795,1170,4,19,2,640,1253,472,1367,non-charter
17,1000017,School NC17,792,709,1,32,0,374,734,276,754,non-charter
18,1000018,School NC18,94,15,2,1,0,9,21,19,36,non-charter
19,1000019,School NC19,2505,596,6,11,0,377,690,136,757,non-charter
20,1000020,School NC20,131,76,0,8,0,58,96,19,100,non-charter
21,1000021,School NC21,2403,684,0,20,0,390,770,190,857,non-charter
22,1000022,School NC22,366,169,4,15,0,171,243,151,286,non-charter
23,1000023,School NC23,1712,467,3,3,0,209,503,137,567,non-charter
24,1000024,School NC24,2442,1799,3,63,6,956,1896,1018,2093,non-charter
25,1000025,School NC25,643,564,0,20,0,281,577,304,602,non-charter
26,1000026,School NC26,1812,1268,3,53,1,685,1375,654,1527,non-charter
27,1000027,School NC27,24,10,1,0,0,12,14,7,17,non-charter
28,1000028,School NC28,2649,2020,8,46,1,1166,2155,636,2264,non-charter
29,1000029,School NC29,507,157,5,13,0,240,302,113,342,non-charter
30,9999999,total,39193,21047,111,515,19,11821,22897,8041,24714,non-charter
31,2000001,School C01,460,321,0,0,0,182,332,192,364,charter
32,2000002,School C02,420,313,0,2,0,191,323,253,363,charter
33,2000003,School C03,246,119,0,11,0,85,152,187,222,charter
34,9999999,total,1126,753,0,13,0,458,807,632,949,charter
35,9999999,total,40319,21800,111,528,19,12279,23704,8673,25663,lea

### Metadata  
  
Below code fragments extract metadata information from the Excel file and make it available as a Python dictionary.

In [20]:
tmpdf_md

,Unnamed: 1,Unnamed: 2,Unnamed: 5,Unnamed: 7,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 19,Unnamed: 28,Unnamed: 30,Unnamed: 32,Unnamed: 34
0,NaN,NaN,NaN,NaN,1.17 - FRPM/English Learner/Foster Youth - Count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Academic Year:,NaN,2017-2018,NaN,NaN,NaN,Gender:,NaN,ALL,NaN,User ID:,NaN,NaN
3,NaN,View:,NaN,ODS,NaN,NaN,NaN,School Type:,NaN,ALL,NaN,Created Date:,NaN,03-12-2018
4,NaN,As Of:,NaN,2018-03-12 00:00:00,NaN,NaN,NaN,School:,NaN,ALL,NaN,LEA:,NaN,SomeCity Union High
7,NaN,NaN,NaN,NaN,NaN,NaN,Free/Reduced Meal Eligibility Counts Based On:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,Free/Reduced Meal Eligibility Counts Based On:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,This report includes students with Primary and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Grade:,NaN,"01-First Grade,02-Second Grade,03-Third Grade,...",NaN,NaN,Ethnicity/Race:,NaN,NaN,ALL,NaN,5 - 17 Year Olds:,NaN,LCFF,NaN

In [21]:
# add appropriate prefix and suffix to metadata keys 
md_keys = ['   ' + s + ':' for s in METADATA_KEYS]
# get indices for rows where the metadata keywords are present
md_idx = tmpdf_md.index[tmpdf_md[tmpdf_md.isin(md_keys)].notnull().any(axis=1)].tolist()
md_idx

[2, 3, 4]

In [22]:
tmpdf_md = tmpdf_md.loc[md_idx,:]
tmpdf_md.dropna(axis=1,how='all',inplace=True)
tmpdf_md.dropna(axis=0,how='all',inplace=True)
tmpdf_md.columns = list(range(0,tmpdf_md.shape[1]))
tmpdf_md

,0,1,2,3,4,5
2,Academic Year:,2017-2018,Gender:,ALL,User ID:,NaN
3,View:,ODS,School Type:,ALL,Created Date:,03-12-2018
4,As Of:,2018-03-12 00:00:00,School:,ALL,LEA:,SomeCity Union High

In [23]:
%pprint

Pretty printing has been turned OFF

In [24]:
# extract metadata keys
md_keys = list(tmpdf_md.loc[:,METADATA_KEY_COLS].unstack().values)
md_keys = list(map(str.strip,md_keys))
md_keys = list(map(str.lower,md_keys))
md_keys = [s.replace(' ','_') for s in md_keys]
md_keys = [s[:-1] for s in md_keys]
md_keys

['academic_year', 'view', 'as_of', 'gender', 'school_type', 'school', 'user_id', 'created_date', 'lea']

In [25]:
# extract metadata values
md_vals = list(tmpdf_md.loc[:,METADATA_VAL_COLS].unstack().values)
md_vals = [s.lower() if isinstance(s, str) else s for s in md_vals]
md_vals

['2017-2018', 'ods', datetime.datetime(2018, 3, 12, 0, 0), 'all', 'all', 'all', nan, '03-12-2018', 'somecity union high']

In [26]:
md_dict = dict(zip(md_keys, md_vals))
print(md_dict)

{'academic_year': '2017-2018', 'view': 'ods', 'as_of': datetime.datetime(2018, 3, 12, 0, 0), 'gender': 'all', 'school_type': 'all', 'school': 'all', 'user_id': nan, 'created_date': '03-12-2018', 'lea': 'somecity union high'}

### TODO  

* Test for error conditions  
* Test for additional CALPADs data input